<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unionx.sys.injuryrate.dao.RsInjuryrateMapper">
  <resultMap id="BaseResultMap" type="com.unionx.sys.injuryrate.vo.RsInjuryrate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="rate" jdbcType="DOUBLE" property="rate" />
    <result column="isdel" jdbcType="VARCHAR" property="isdel" />
  </resultMap>
  
 
  <sql id="Base_Column_List">
    id, company, year, start_time, end_time, rate, isdel 
  </sql>
 
  <select id="getInjuryrateById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rs_injuryrate
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="findAllInjuryrate" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rs_injuryrate
    where isdel='y'
     </select>
  
  <!--根据 条件获得RsInjuryrate对象-->
    <select id="getInjuryrateList" resultMap="BaseResultMap">
        SELECT * FROM rs_injuryrate 
        <where>
         isdel='y'
            <if test="company != null and company != '' ">
                <bind name="likeCompany" value="'%' + company + '%'"></bind>
                AND company LIKE #{likeCompany, jdbcType=VARCHAR}
            </if>
            <if test="year != null and year != '' ">
                <bind name="likeYear" value="'%' + year + '%'"></bind>
                AND year LIKE #{likeYear, jdbcType=VARCHAR}
            </if>
           </where>
    </select>
  
  <insert id="saveInjuryrate" useGeneratedKeys="true" keyProperty="id">
   insert into rs_injuryrate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="company != null">
        company,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="rate != null">
        rate,
      </if>
    	 isdel
     </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=DATE},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DOUBLE},
      </if>
      'y'
    </trim>
  </insert>
  
  <update id="updateInjuryrate" parameterType="com.unionx.sys.injuryrate.vo.RsInjuryrate">
    update rs_injuryrate
    <set>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
 <update id="deleteInjuryrate">
 update rs_injuryrate set isdel='n'
 where id = #{id,jdbcType=INTEGER}
 </update>
 
  <!-- <delete id="deleteInjuryrate">
    delete from rs_injuryrate
    where id = #{id,jdbcType=INTEGER}
  </delete> -->
 
</mapper>