<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unionx.web.company.dao.CompanyShebaoBiliMapper">
  <resultMap id="BaseResultMap" type="com.unionx.web.company.vo.CompanyShebaoBili">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="company_endowment" jdbcType="DOUBLE" property="companyEndowment" />
    <result column="person_endowment" jdbcType="DOUBLE" property="personEndowment" />
    <result column="company_unemployment" jdbcType="DOUBLE" property="companyUnemployment" />
    <result column="person_unemployment" jdbcType="DOUBLE" property="personUnemployment" />
    <result column="company_injury" jdbcType="DOUBLE" property="companyInjury" />
    <result column="person_injury" jdbcType="DOUBLE" property="personInjury" />
    <result column="company_medical" jdbcType="DOUBLE" property="companyMedical" />
    <result column="person_medical" jdbcType="DOUBLE" property="personMedical" />
    <result column="person_medical_db" jdbcType="DOUBLE" property="personMedicalDb" />
    <result column="company_maternity" jdbcType="DOUBLE" property="companyMaternity" />
    <result column="person_maternity" jdbcType="DOUBLE" property="personMaternity" />
    <result column="pay_person_type" jdbcType="VARCHAR" property="payPersonType" />
    <result column="pay_person_name" jdbcType="VARCHAR" property="payPersonName" />
    <result column="company_uuid" jdbcType="VARCHAR" property="companyUuid" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="shebao_canshu_uuid" jdbcType="VARCHAR" property="shebaoCanshuUuid" />
    <result column="shebao_canshu_yearCity" jdbcType="VARCHAR" property="shebaoCanshuYearcity" />
    <result column="shebao_canshu_startTime" jdbcType="TIMESTAMP" property="shebaoCanshuStarttime" />
    <result column="shebao_canshu_endTime" jdbcType="TIMESTAMP" property="shebaoCanshuEndtime" />
    <result column="shebao_canshu_celling" jdbcType="DOUBLE" property="shebaoCanshuCelling" />
    <result column="shebao_canshu_floor" jdbcType="DOUBLE" property="shebaoCanshuFloor" />
    <result column="isdel" jdbcType="BIT" property="isdel" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uuid, company_endowment, person_endowment, company_unemployment, person_unemployment, 
    company_injury, person_injury, company_medical, person_medical, person_medical_db, 
    company_maternity, person_maternity, pay_person_type, pay_person_name, company_uuid, 
    company_name, shebao_canshu_uuid, shebao_canshu_yearCity, shebao_canshu_startTime, 
    shebao_canshu_endTime, shebao_canshu_celling, shebao_canshu_floor, isdel, create_name, 
    create_date, update_name, update_date
  </sql>
  <select id="selectByExample" parameterType="com.unionx.web.company.vo.CompanyShebaoBiliCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company_shebao_bili
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company_shebao_bili
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company_shebao_bili
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionx.web.company.vo.CompanyShebaoBiliCriteria">
    delete from company_shebao_bili
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionx.web.company.vo.CompanyShebaoBili">
    insert into company_shebao_bili (id, uuid, company_endowment, 
      person_endowment, company_unemployment, person_unemployment, 
      company_injury, person_injury, company_medical, 
      person_medical, person_medical_db, company_maternity, 
      person_maternity, pay_person_type, pay_person_name, 
      company_uuid, company_name, shebao_canshu_uuid, 
      shebao_canshu_yearCity, shebao_canshu_startTime, 
      shebao_canshu_endTime, shebao_canshu_celling, 
      shebao_canshu_floor, isdel, create_name, 
      create_date, update_name, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{companyEndowment,jdbcType=DOUBLE}, 
      #{personEndowment,jdbcType=DOUBLE}, #{companyUnemployment,jdbcType=DOUBLE}, #{personUnemployment,jdbcType=DOUBLE}, 
      #{companyInjury,jdbcType=DOUBLE}, #{personInjury,jdbcType=DOUBLE}, #{companyMedical,jdbcType=DOUBLE}, 
      #{personMedical,jdbcType=DOUBLE}, #{personMedicalDb,jdbcType=DOUBLE}, #{companyMaternity,jdbcType=DOUBLE}, 
      #{personMaternity,jdbcType=DOUBLE}, #{payPersonType,jdbcType=VARCHAR}, #{payPersonName,jdbcType=VARCHAR}, 
      #{companyUuid,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{shebaoCanshuUuid,jdbcType=VARCHAR}, 
      #{shebaoCanshuYearcity,jdbcType=VARCHAR}, #{shebaoCanshuStarttime,jdbcType=TIMESTAMP}, 
      #{shebaoCanshuEndtime,jdbcType=TIMESTAMP}, #{shebaoCanshuCelling,jdbcType=DOUBLE}, 
      #{shebaoCanshuFloor,jdbcType=DOUBLE}, #{isdel,jdbcType=BIT}, #{createName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateName,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unionx.web.company.vo.CompanyShebaoBili">
    insert into company_shebao_bili
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="companyEndowment != null">
        company_endowment,
      </if>
      <if test="personEndowment != null">
        person_endowment,
      </if>
      <if test="companyUnemployment != null">
        company_unemployment,
      </if>
      <if test="personUnemployment != null">
        person_unemployment,
      </if>
      <if test="companyInjury != null">
        company_injury,
      </if>
      <if test="personInjury != null">
        person_injury,
      </if>
      <if test="companyMedical != null">
        company_medical,
      </if>
      <if test="personMedical != null">
        person_medical,
      </if>
      <if test="personMedicalDb != null">
        person_medical_db,
      </if>
      <if test="companyMaternity != null">
        company_maternity,
      </if>
      <if test="personMaternity != null">
        person_maternity,
      </if>
      <if test="payPersonType != null">
        pay_person_type,
      </if>
      <if test="payPersonName != null">
        pay_person_name,
      </if>
      <if test="companyUuid != null">
        company_uuid,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="shebaoCanshuUuid != null">
        shebao_canshu_uuid,
      </if>
      <if test="shebaoCanshuYearcity != null">
        shebao_canshu_yearCity,
      </if>
      <if test="shebaoCanshuStarttime != null">
        shebao_canshu_startTime,
      </if>
      <if test="shebaoCanshuEndtime != null">
        shebao_canshu_endTime,
      </if>
      <if test="shebaoCanshuCelling != null">
        shebao_canshu_celling,
      </if>
      <if test="shebaoCanshuFloor != null">
        shebao_canshu_floor,
      </if>
      <if test="isdel != null">
        isdel,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="companyEndowment != null">
        #{companyEndowment,jdbcType=DOUBLE},
      </if>
      <if test="personEndowment != null">
        #{personEndowment,jdbcType=DOUBLE},
      </if>
      <if test="companyUnemployment != null">
        #{companyUnemployment,jdbcType=DOUBLE},
      </if>
      <if test="personUnemployment != null">
        #{personUnemployment,jdbcType=DOUBLE},
      </if>
      <if test="companyInjury != null">
        #{companyInjury,jdbcType=DOUBLE},
      </if>
      <if test="personInjury != null">
        #{personInjury,jdbcType=DOUBLE},
      </if>
      <if test="companyMedical != null">
        #{companyMedical,jdbcType=DOUBLE},
      </if>
      <if test="personMedical != null">
        #{personMedical,jdbcType=DOUBLE},
      </if>
      <if test="personMedicalDb != null">
        #{personMedicalDb,jdbcType=DOUBLE},
      </if>
      <if test="companyMaternity != null">
        #{companyMaternity,jdbcType=DOUBLE},
      </if>
      <if test="personMaternity != null">
        #{personMaternity,jdbcType=DOUBLE},
      </if>
      <if test="payPersonType != null">
        #{payPersonType,jdbcType=VARCHAR},
      </if>
      <if test="payPersonName != null">
        #{payPersonName,jdbcType=VARCHAR},
      </if>
      <if test="companyUuid != null">
        #{companyUuid,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="shebaoCanshuUuid != null">
        #{shebaoCanshuUuid,jdbcType=VARCHAR},
      </if>
      <if test="shebaoCanshuYearcity != null">
        #{shebaoCanshuYearcity,jdbcType=VARCHAR},
      </if>
      <if test="shebaoCanshuStarttime != null">
        #{shebaoCanshuStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="shebaoCanshuEndtime != null">
        #{shebaoCanshuEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="shebaoCanshuCelling != null">
        #{shebaoCanshuCelling,jdbcType=DOUBLE},
      </if>
      <if test="shebaoCanshuFloor != null">
        #{shebaoCanshuFloor,jdbcType=DOUBLE},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=BIT},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionx.web.company.vo.CompanyShebaoBiliCriteria" resultType="java.lang.Long">
    select count(*) from company_shebao_bili
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update company_shebao_bili
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uuid != null">
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.companyEndowment != null">
        company_endowment = #{record.companyEndowment,jdbcType=DOUBLE},
      </if>
      <if test="record.personEndowment != null">
        person_endowment = #{record.personEndowment,jdbcType=DOUBLE},
      </if>
      <if test="record.companyUnemployment != null">
        company_unemployment = #{record.companyUnemployment,jdbcType=DOUBLE},
      </if>
      <if test="record.personUnemployment != null">
        person_unemployment = #{record.personUnemployment,jdbcType=DOUBLE},
      </if>
      <if test="record.companyInjury != null">
        company_injury = #{record.companyInjury,jdbcType=DOUBLE},
      </if>
      <if test="record.personInjury != null">
        person_injury = #{record.personInjury,jdbcType=DOUBLE},
      </if>
      <if test="record.companyMedical != null">
        company_medical = #{record.companyMedical,jdbcType=DOUBLE},
      </if>
      <if test="record.personMedical != null">
        person_medical = #{record.personMedical,jdbcType=DOUBLE},
      </if>
      <if test="record.personMedicalDb != null">
        person_medical_db = #{record.personMedicalDb,jdbcType=DOUBLE},
      </if>
      <if test="record.companyMaternity != null">
        company_maternity = #{record.companyMaternity,jdbcType=DOUBLE},
      </if>
      <if test="record.personMaternity != null">
        person_maternity = #{record.personMaternity,jdbcType=DOUBLE},
      </if>
      <if test="record.payPersonType != null">
        pay_person_type = #{record.payPersonType,jdbcType=VARCHAR},
      </if>
      <if test="record.payPersonName != null">
        pay_person_name = #{record.payPersonName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyUuid != null">
        company_uuid = #{record.companyUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.shebaoCanshuUuid != null">
        shebao_canshu_uuid = #{record.shebaoCanshuUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.shebaoCanshuYearcity != null">
        shebao_canshu_yearCity = #{record.shebaoCanshuYearcity,jdbcType=VARCHAR},
      </if>
      <if test="record.shebaoCanshuStarttime != null">
        shebao_canshu_startTime = #{record.shebaoCanshuStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shebaoCanshuEndtime != null">
        shebao_canshu_endTime = #{record.shebaoCanshuEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shebaoCanshuCelling != null">
        shebao_canshu_celling = #{record.shebaoCanshuCelling,jdbcType=DOUBLE},
      </if>
      <if test="record.shebaoCanshuFloor != null">
        shebao_canshu_floor = #{record.shebaoCanshuFloor,jdbcType=DOUBLE},
      </if>
      <if test="record.isdel != null">
        isdel = #{record.isdel,jdbcType=BIT},
      </if>
      <if test="record.createName != null">
        create_name = #{record.createName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateName != null">
        update_name = #{record.updateName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update company_shebao_bili
    set id = #{record.id,jdbcType=INTEGER},
      uuid = #{record.uuid,jdbcType=VARCHAR},
      company_endowment = #{record.companyEndowment,jdbcType=DOUBLE},
      person_endowment = #{record.personEndowment,jdbcType=DOUBLE},
      company_unemployment = #{record.companyUnemployment,jdbcType=DOUBLE},
      person_unemployment = #{record.personUnemployment,jdbcType=DOUBLE},
      company_injury = #{record.companyInjury,jdbcType=DOUBLE},
      person_injury = #{record.personInjury,jdbcType=DOUBLE},
      company_medical = #{record.companyMedical,jdbcType=DOUBLE},
      person_medical = #{record.personMedical,jdbcType=DOUBLE},
      person_medical_db = #{record.personMedicalDb,jdbcType=DOUBLE},
      company_maternity = #{record.companyMaternity,jdbcType=DOUBLE},
      person_maternity = #{record.personMaternity,jdbcType=DOUBLE},
      pay_person_type = #{record.payPersonType,jdbcType=VARCHAR},
      pay_person_name = #{record.payPersonName,jdbcType=VARCHAR},
      company_uuid = #{record.companyUuid,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      shebao_canshu_uuid = #{record.shebaoCanshuUuid,jdbcType=VARCHAR},
      shebao_canshu_yearCity = #{record.shebaoCanshuYearcity,jdbcType=VARCHAR},
      shebao_canshu_startTime = #{record.shebaoCanshuStarttime,jdbcType=TIMESTAMP},
      shebao_canshu_endTime = #{record.shebaoCanshuEndtime,jdbcType=TIMESTAMP},
      shebao_canshu_celling = #{record.shebaoCanshuCelling,jdbcType=DOUBLE},
      shebao_canshu_floor = #{record.shebaoCanshuFloor,jdbcType=DOUBLE},
      isdel = #{record.isdel,jdbcType=BIT},
      create_name = #{record.createName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_name = #{record.updateName,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionx.web.company.vo.CompanyShebaoBili">
    update company_shebao_bili
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="companyEndowment != null">
        company_endowment = #{companyEndowment,jdbcType=DOUBLE},
      </if>
      <if test="personEndowment != null">
        person_endowment = #{personEndowment,jdbcType=DOUBLE},
      </if>
      <if test="companyUnemployment != null">
        company_unemployment = #{companyUnemployment,jdbcType=DOUBLE},
      </if>
      <if test="personUnemployment != null">
        person_unemployment = #{personUnemployment,jdbcType=DOUBLE},
      </if>
      <if test="companyInjury != null">
        company_injury = #{companyInjury,jdbcType=DOUBLE},
      </if>
      <if test="personInjury != null">
        person_injury = #{personInjury,jdbcType=DOUBLE},
      </if>
      <if test="companyMedical != null">
        company_medical = #{companyMedical,jdbcType=DOUBLE},
      </if>
      <if test="personMedical != null">
        person_medical = #{personMedical,jdbcType=DOUBLE},
      </if>
      <if test="personMedicalDb != null">
        person_medical_db = #{personMedicalDb,jdbcType=DOUBLE},
      </if>
      <if test="companyMaternity != null">
        company_maternity = #{companyMaternity,jdbcType=DOUBLE},
      </if>
      <if test="personMaternity != null">
        person_maternity = #{personMaternity,jdbcType=DOUBLE},
      </if>
      <if test="payPersonType != null">
        pay_person_type = #{payPersonType,jdbcType=VARCHAR},
      </if>
      <if test="payPersonName != null">
        pay_person_name = #{payPersonName,jdbcType=VARCHAR},
      </if>
      <if test="companyUuid != null">
        company_uuid = #{companyUuid,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="shebaoCanshuUuid != null">
        shebao_canshu_uuid = #{shebaoCanshuUuid,jdbcType=VARCHAR},
      </if>
      <if test="shebaoCanshuYearcity != null">
        shebao_canshu_yearCity = #{shebaoCanshuYearcity,jdbcType=VARCHAR},
      </if>
      <if test="shebaoCanshuStarttime != null">
        shebao_canshu_startTime = #{shebaoCanshuStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="shebaoCanshuEndtime != null">
        shebao_canshu_endTime = #{shebaoCanshuEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="shebaoCanshuCelling != null">
        shebao_canshu_celling = #{shebaoCanshuCelling,jdbcType=DOUBLE},
      </if>
      <if test="shebaoCanshuFloor != null">
        shebao_canshu_floor = #{shebaoCanshuFloor,jdbcType=DOUBLE},
      </if>
      <if test="isdel != null">
        isdel = #{isdel,jdbcType=BIT},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionx.web.company.vo.CompanyShebaoBili">
    update company_shebao_bili
    set uuid = #{uuid,jdbcType=VARCHAR},
      company_endowment = #{companyEndowment,jdbcType=DOUBLE},
      person_endowment = #{personEndowment,jdbcType=DOUBLE},
      company_unemployment = #{companyUnemployment,jdbcType=DOUBLE},
      person_unemployment = #{personUnemployment,jdbcType=DOUBLE},
      company_injury = #{companyInjury,jdbcType=DOUBLE},
      person_injury = #{personInjury,jdbcType=DOUBLE},
      company_medical = #{companyMedical,jdbcType=DOUBLE},
      person_medical = #{personMedical,jdbcType=DOUBLE},
      person_medical_db = #{personMedicalDb,jdbcType=DOUBLE},
      company_maternity = #{companyMaternity,jdbcType=DOUBLE},
      person_maternity = #{personMaternity,jdbcType=DOUBLE},
      pay_person_type = #{payPersonType,jdbcType=VARCHAR},
      pay_person_name = #{payPersonName,jdbcType=VARCHAR},
      company_uuid = #{companyUuid,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      shebao_canshu_uuid = #{shebaoCanshuUuid,jdbcType=VARCHAR},
      shebao_canshu_yearCity = #{shebaoCanshuYearcity,jdbcType=VARCHAR},
      shebao_canshu_startTime = #{shebaoCanshuStarttime,jdbcType=TIMESTAMP},
      shebao_canshu_endTime = #{shebaoCanshuEndtime,jdbcType=TIMESTAMP},
      shebao_canshu_celling = #{shebaoCanshuCelling,jdbcType=DOUBLE},
      shebao_canshu_floor = #{shebaoCanshuFloor,jdbcType=DOUBLE},
      isdel = #{isdel,jdbcType=BIT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>