@charset "utf-8";
/* CSS Document */
/*CSS reset  css 初始化*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:12px; color:#616161; font-family:Verdana, Microsoft YaHei, Simsun; background:#fff; line-height:22px; }
fieldset, img { border:0; }  /*在ie6下面，只要给插入图片加了链接，就会出现小边框*/
img{display:block;}
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em { font-style:normal; }
input, button, select, textarea { outline:none; } 
textarea { resize:none; }
a { color: #616161; text-decoration:none; }
a:hover { text-decoration:underline; }
.clearfix:before,.clearfix:after{
	display:table;
	content:"";}
.clearfix:after{
	clear:both;}
.clearfix{zoom:1;}
.wrap{
	position: fixed;
	top:100px;
	right: 110px;
	display: none;
}
.md-form{
	width: 720px;
	margin: 50px auto;
	border: 1px solid #999;
	border-radius: 5px;
	background: #fff;
}
.md-form li{
	margin-bottom: 20px;
}
.md-form h2{
	text-align: center;
	background: #f1f1f1;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	border-radius: 5px 5px 0 0;
}
.md-form strong{
	color: red;
	font-weight: normal;
}
.md-form span{
	color: red;
}
.md-form label{
	width: 20%;
	text-align: right;
	display: inline-block;
}
.md-form input{
	width: 51%;
	height: 26px;
	padding-left:5px; 
}
.verification{
	height: 29px !important;
	background: #28A5F6;
	border: 0 none;
	cursor: pointer;
	padding:0 5px;
}
.remarks{
	display: inline;
	line-height: 60px;
	width: 12%;
}
.remarks span,i{
	display: table-cell;vertical-align: top;
}
textarea{
	width: 75%;
	height: 60px;
	resize: none;
}
p{
	text-align: center;
}
.verification-yn{
	position: absolute;
	left: 21%;
	bottom: -18px;
}
.location{
	position: relative;
	
}
input[type="button"]{
	cursor: pointer;
}
.md-form button{
	cursor: pointer;
	width: 20%;
	border: 0;
	height: 30px;
	background: #87C05D;
}
.md-form button:nth-child(2){
	margin-right: 13%;
}