.fm_table td {
    font-size: 12px !important;
}

.fm_table {
    border-collapse: collapse;
}

.fm_table td {
	text-align:center;
    padding: 8px 5px;
    height: 34px;
    border: 1px solid #d5d5d5;
}

.fm_lable {
    text-align: center;
    background-color: #f0f0f0;
}

.a_opt{
    cursor: pointer;
    text-decoration: underline;
}